<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711081937774-ojtjkulne9ae24155biv9ui64sfnt4hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711081937774-ojtjkulne9ae24155biv9ui64sfnt4hc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>711081937774-mvod404kuu26utqapp20ff01e7hongul.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFx8LpXkXvdhmqzIzdQJs7_W4ImY-LBa8</string>
	<key>GCM_SENDER_ID</key>
	<string>711081937774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stellar.example.todo</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-6bed7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-6bed7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711081937774:ios:42c81979d798a0341b0f7f</string>
</dict>
</plist>